@font-face {
  font-family: "Husky Stash";
  src: url("Husky Stash.otf") format("opentype");
}

body {
  display: absolute;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #0d1321;
  /* margin-top: 10%; */
  font-family: "DM Mono", monospace;
  color: #ffeddf;
  font-size: 15px;
  /* font-size: small; */
}

section {
  height: 100vh;
}

@media (max-height: 650px) {
  section {
    height: 650px;
  }
}
/* nav bar start */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: small;
}

ul li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: inherit;
}

/* nav bar end */

/* pop-up start */

.popup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}

.popup-content {
  color: #fb8b24;
  background-color: #ffeddf;
  margin: 100px auto;
  padding: 24px;
  width: min(85vw, 40ch);
  height: 60vh;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #858ebc;
  overflow-y: scroll;
  cursor: pointer;
  top: 50%;
  left: 50%;
}

.popup-content a {
  color: #fb8b24;
}

.popup-content a:hover {
  margin: auto;
  color: #ffeddf;
  background-color: #fb8b24;
}

.show {
  display: block;
}

pre {
  white-space: pre-wrap;
  display: block;
  margin: 1em 0px;
  font-size: medium;
}

/* pop-up end */

a {
  /* color: inherit; */
  text-decoration: none;
}

a:hover {
  background-color: #c0fdfb;
  color: #0d1321;
}

footer {
  text-align: center;
  padding: 3em;
}

footer a {
  color: #ffeddf;
}

footer img {
  width: 330px;
}

/* title formatting start */

.title {
  font-family: "Husky Stash", monospace;
  font-size: 70px;
  margin-top: 7%;
}

/* bigger screen */
@media (min-width: 1000px) {
  .title {
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-template-rows: auto auto;
    grid-column-gap: 20px;
    grid-template-areas:
      "top-left-container"
      "top-middle-container"
      "top-right-container"
      "bottom-left-container"
      "bottom-middle-container"
      "bottom-right-container";
  }
  .left {
    /* border: 3px solid gray; */
    text-align: right;
    color: #c0fdfb;
    /* color: #ffeddf; */
  }
}

/* smaller screen */
@media (max-width: 1000px) {
  .title {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    /* grid-row-gap: 15px; */
    grid-template-areas:
      "top-left-container"
      "top-middle-container"
      "top-right-container"
      "bottom-left-container"
      "bottom-middle-container"
      "bottom-right-container";
    text-align: center;
    font-size: 55px;
  }
  .left {
    /* border: 3px solid gray; */
    /* color: #ffeddf; */
    /* color: #fb8b24; */
    color: #c0fdfb;
  }
  .right {
    /* border: 3px solid gray; */
    color: #c0fdfb;
    display: none;
  }
}

.middle {
  /* border: 3px solid gray; */
  /* color: #c5d86d; */
  color: #ddd92a;
}

.right {
  /* border: 3px solid gray; */
  /* color: #c0fdfb; */
  /* color: #cad178; */
  color: #fb8b24;
}

.top-left {
  /* background: yellow; */
  grid-area: top-left-container;
}

.top-middle {
  /* background: yellow; */
  grid-area: top-middle-container;
}

.top-right {
  /* background: yellow; */
  grid-area: top-right-container;
}

.bottom-left {
  /* background: red; */
  grid-area: bottom-left-container;
}

.bottom-middle {
  /* background: red; */
  grid-area: bottom-middle-container;
}

.bottom-right {
  /* background: red; */
  grid-area: bottom-right-container;
  align-self: end;
}

/* title formatting end */

/* info formatting start */

.info {
  line-height: 1.3em;
}

/* bigger screen */
@media (min-width: 1425px) {
  .info {
    display: grid;
    grid-template-columns: 0.95fr 0.8fr 1fr;
    grid-template-rows: auto auto;
    grid-column-gap: 20px;
    grid-template-areas:
      "top-left-container"
      "top-middle-container"
      "top-right-container"
      "bottom-left-container"
      "bottom-middle-container"
      "bottom-right-container";
  }
  .break-sm {
    display: none;
  }
}

/* smaller screen */
@media (max-width: 1425px) {
  .info {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    /* grid-row-gap: 15px; */
    grid-template-areas:
      "top-left-container"
      "top-middle-container"
      "top-right-container"
      "bottom-left-container"
      "bottom-middle-container"
      "bottom-right-container";
    text-align: center;
    padding: 3em;
  }
  .break-lg {
    display: none;
  }
}

.left2 {
  /* border: 3px solid gray; */
  text-align: right;
}

.top-left2 {
  /* background: yellow; */
  grid-area: top-left-container;
}

.top-middle2 {
  /* background: yellow; */
  grid-area: top-middle-container;
}

.top-right2 {
  /* background: yellow; */
  grid-area: top-right-container;
}

.top-right2 span {
  color: #fb8b24;
  font-weight: 600;
}

.top-right2 span:hover {
  color: #0d1321;
}

.bottom-right2 a {
  color: #fb8b24;
}

.bottom-right2 a:hover {
  color: #0d1321;
}

.bottom-left2 {
  /* background: red; */
  grid-area: bottom-left-container;
}

.bottom-middle2 {
  /* background: red; */
  grid-area: bottom-middle-container;
}

.bottom-right2 {
  /* background: red; */
  grid-area: bottom-right-container;
  align-self: end;
  color: #fb8b24;
  font-weight: 600;
}

/* info formatting end */

/* cat formatting start */

.cat {
  line-height: 1.7em;
}

/* bigger screen */
@media (min-width: 1425px) {
  .cat {
    display: grid;
    grid-template-columns: 0.95fr 0.8fr 1fr;
    grid-template-rows: auto auto;
    grid-column-gap: 20px;
    grid-template-areas:
      "top-left-container"
      "top-middle-container"
      "top-right-container"
      "bottom-left-container"
      "bottom-middle-container"
      "bottom-right-container";
  }
  .break-sm {
    display: none;
  }
}

/* smaller screen */
@media (max-width: 1425px) {
  .cat {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    /* grid-row-gap: 15px; */
    grid-template-areas:
      "top-left-container"
      "top-middle-container"
      "top-right-container"
      "bottom-left-container"
      "bottom-middle-container"
      "bottom-right-container";
    text-align: center;
    /* padding: 3em; */
  }
  .break-lg {
    display: none;
  }
}

.left3 {
  /* border: 3px solid gray; */
  text-align: right;
}

.top-left3 {
  /* background: yellow; */
  grid-area: top-left-container;
}

.top-middle3 {
  /* background: yellow; */
  grid-area: top-middle-container;
  color: #ddd92a;
}

.top-right3 {
  /* background: yellow; */
  grid-area: top-right-container;
}

.bottom-left3 {
  /* background: red; */
  grid-area: bottom-left-container;
}

.bottom-middle3 {
  /* background: red; */
  grid-area: bottom-middle-container;
  font-weight: 600;
}

.bottom-middle3 a {
  color: #ffeddf;
}

.bottom-middle3 a:hover {
  color: #0d1321;
}

.bottom-right3 {
  /* background: red; */
  grid-area: bottom-right-container;
  align-self: end;
}

/* cat formatting end */

/* projects formatting start */

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: auto;
  gap: 20px 20px;
  grid-auto-flow: row;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  justify-content: center;
  align-items: center;
  font-size: small;
}

/* .projects ul {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
} */

.projects li {
  list-style-type: none;
  text-decoration: none;
  height: 200px;
  padding: 15px;
}

/* .projects a li {
  list-style-type: none;
  text-decoration: none;
} */

/* .projects a li:hover {
  background-color: #c0fdfb;
  color: #0d1321;
  border: 2px solid #c0fdfb;
} */

#grad-header {
  /* font-family: "Husky Stash", monospace; */
  /* font-size: 20px; */
  color: #ffeddf;
  text-align: center;
}

#senior-header {
  /* font-family: "Husky Stash", monospace; */
  /* font-size: 20px; */
  color: #ffeddf;
  text-align: center;
}

#gradProjects li {
  color: #ddd92a;
  border: 2px solid #ddd92a;
}

#gradProjects li:hover {
  color: #c0fdfb;
  border: 2px solid #c0fdfb;
  background-color: #0d1321;
}

#seniorProjects li {
  color: #fb8b24;
  border: 2px solid #fb8b24;
}

#seniorProjects li:hover {
  color: #c0fdfb;
  border: 2px solid #c0fdfb;
  background-color: #0d1321;
}

.project-title {
  font-size: medium;
  padding: 3%;
}

.medium {
  font-size: small;
  font-style: italic;
}

.full-name {
  font-size: medium;
}

/* projects formatting end */

/* template formatting start */

#project-header {
  margin: 3%;
  /* margin-left: 20%;
  margin-right: 20%; */
  line-height: 1.7em;
  font-size: small;
}

#project-header a {
  text-decoration: none;
  color: #ddd92a;
}

#project-header a:hover {
  background-color: #c0fdfb;
  color: #0d1321;
}

#title {
  text-align: center;
  font-size: medium;
}

#name,
#qualifiers,
#link {
  text-align: center;
}

#right-contents {
  position: sticky;
  top: 2em;
}

.project-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-auto-columns: 1fr;
  gap: 1em 2em;
  grid-auto-flow: row;
  grid-template-areas:
    "project-top project-right"
    "project-bottom project-right";
}

.project-top {
  grid-area: project-top;
}

.project-bottom {
  grid-area: project-bottom;
}

.project-right {
  grid-area: project-right;
}

#main-img img,
video {
  display: block;
  width: 100%;
}

#supp-img img {
  display: block;
  /* margin-left: auto; */
  /* margin-right: auto; */
  margin-bottom: 1em;
  width: 100%;
}

/* smaller screen */
@media (max-width: 1200px) {
  .project-body {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1em 1em;
    grid-template-areas: "project-top" "project-right" "project-bottom";
  }

  .project-top {
    grid-area: project-top;
  }

  .project-bottom {
    grid-area: project-bottom;
  }

  .project-right {
    grid-area: project-right;
  }
}

/* template formatting end */
